<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="./papers/ist2020.pdf">Predicting continuous integration build failures using evolutionary search</a>.
			</span><br />
			<span class="authors">
				Islem Saidani, Ali Ouni, Moataz Chouchen, and Mohamed Wiem Mkaouer.
			</span><br />
			<span class="venuetype"></span><span class="venue">Information and Software Technology</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="./papers/jss2020.pdf">On the generation, structure, and semantics of grammar patterns in source code identifiers</a>.
			</span><br />
			<span class="authors">
				Christian D Newman, Reem S AlSuhaibani, Michael J Decker, Anthony Peruma, Dishant Kaushik, Mohamed Wiem Mkaouer, and Emily Hill.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Systems and Software</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="./papers/jss2019-scam2019-ext.pdf">Contextualizing rename decisions using refactorings, commit messages, and data types</a>.
			</span><br />
			<span class="authors">
				Anthony Peruma, Mohamed Wiem Mkaouer, Michael J Decker, and Christian D Newman.
			</span><br />
			<span class="venuetype"></span><span class="venue">Journal of Systems and Software</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="./papers/asc2020.pdf">Learning to rank developers for bug report assignment</a>.
			</span><br />
			<span class="authors">
				Bader Alkhazi, Andrew DiStasi, Wajdi Aljedaani, Hussein Alrubaye, Xin Ye, and Mohamed Wiem Mkaouer.
			</span><br />
			<span class="venuetype"></span><span class="venue">Applied Soft Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
 				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="./papers/Knosys2020.pdf">Learning to detect community smells in open source software projects</a>.
			</span><br />
			<span class="authors">
				Nuri Almarimi, Ali Ouni, and Mohamed Wiem Mkaouer.
			</span><br />
			<span class="venuetype"></span><span class="venue">Knowledge-Based Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
